<div id="<%= dom_id pethistory %>">
  <p>
    <strong>Peso:</strong>
    <%= pethistory.weight %>
  </p>
  
  <p>
    <strong>Altura:</strong>
    <%= pethistory.height %>
  </p>
  
  <p>
    <strong>Diagnóstico:</strong>
    <%= pethistory.diagnostic %>
  </p>
  
</div>
