<p style="color: green"><%= notice %></p>

<h1>Historial de pacientes</h1>
<%= link_to "Nuevo registro de historial", new_pethistory_path %>

<div id="pethistories">
  <% @pethistories.each do |pethistory| %>
    <br>
    <%= render pethistory %>
    <p>
      <%= link_to "Mostrar este registro de historial", pethistory %>
    </p>
  <% end %>
</div>


